
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  height: 100%;
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
}

body {
  overflow-y: scroll;
}

.display-4 {
  font-size: 2.5rem;
}

.display-5 {
  font-size: 1.75rem;
  line-height: 1rem;
}

a.number:hover {
  text-decoration: none !important;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
}

.small {
  font-size: 80%;
}

.muted,
.text-muted {
  color: #999 !important;
}
